img{
    width: 50%;
}


/*Veja que a cor da borda nao muda, porque temos na pagina index um css inline 
que e mais forte que as outras regras por ser carregado por ultimo dentro da demnada da pagina.
Porem se quisermos podemos marcar  */

header{
    border: 2px solid #1e2836; 
    background-image: url(../img/img-01-banner-1280×640.png);
    background-size: cover; 
    background-position: center;
    width: 100%;
    height: 100px;
}

a{
    text-decoration: none; 
    color: #fff;   
}