body{
    background-color: #042356 !important;
}
div{
    display: flex;
    justify-content: center;
    margin: 20px;
}
img{
    width:50%;
}
nav{
    display: flex;
    justify-content:space-evenly;
    background-color: rgb(45, 175, 214);
    border-radius: 5px;
    border: 2px solid rgb(0, 0, 0);
}
a{
    text-decoration: none;
}
